<html>
	<head>
		<title>Data Mapper</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<h1>Welcome to Data Mapper!</h1>
		<i>Please visit <a href="http://datawrapper.de">Data Wrapper</a> if you wish to plot charts. If you want to plot maps, carry on!</i>
		<br><br>

		<h3>To make a map, overwrite the text below by copy pasting data from a table or an Excel file. If you just want to play around, press Submit.</h3>
		<i>Note: Copying data from PDFs might not work</i>
		<form method="post">
			<textarea name="data" rows="30" cols="150">State	Literacy Rate (%) - 2011 Census	Literacy Rate (%) - 2001 Census	Decadal Difference (%)
Kerala	93.91	90.86	3.05
Lakshadweep	92.28	86.66	5.62
Mizoram	91.58	88.80	2.78
Tripura	87.75	73.19	14.56
Goa	87.40	82.01	5.39
Daman & Diu	87.07	78.18	8.89
Puducherry	86.55	81.24	5.31
Chandigarh	86.43	81.94	4.49
Delhi	86.34	81.67	4.67
Andaman & Nicobar Islands	86.27	81.30	4.97
Himachal Pradesh	83.78	76.48	7.30
Maharashtra	82.91	76.88	6.03
Sikkim	82.20	68.81	13.39
Tamil Nadu	80.33	73.45	6.88
Nagaland	80.11	66.59	13.52
Manipur	79.85	69.93	9.92
Uttarakhand	79.63	71.62	8.01
Gujarat	79.31	69.14	10.17
Dadra & Nagar Haveli	77.65	57.63	20.02
West Bengal	77.08	68.64	8.44
Punjab	76.68	69.65	7.03
Haryana	76.64	67.91	8.73
Karnataka	75.60	66.64	8.96
Meghalaya	75.48	62.56	12.92
Odisha	73.45	63.08	10.37
Assam	73.18	63.25	9.93
Chhattisgarh	71.04	64.66	6.38
Madhya Pradesh	70.63	63.74	6.89
Uttar Pradesh	69.72	56.27	13.45
Jammu & Kashmir	68.74	55.52	13.22
Andhra Pradesh	67.66	60.47	7.19
Jharkhand	67.63	53.56	14.07
Rajasthan	67.06	60.41	6.65
Arunachal Pradesh	66.95	54.34	12.61
Bihar	63.82	47.00	16.82</textarea><br/>
			<input type="submit">
		</form>
	</body>
</html>